.welcome-message {
    font-family: 'Source Serif 4'; 
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.home-button {
    display: inline-block;
    width: 50px;
}

.projects-button {
    display: inline-block;
    width: 50px;
}

.cherry-blossom {
    border-radius: 300px;
    border: 5px solid pink;
}


